.introduction {
    display: flex;
    align-items: center;        /* Center vertically */
    justify-content: center;    /* Center horizontally */
    max-width: 900px;
    margin: 10% auto;
    padding: 40px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    min-height: 50vh;
    flex-wrap: wrap;          
    border: 1px solid white;
}

.introduction-text {
    flex: 2;
    text-align: left;           /* Align text to the left */
    padding-right: 20px;
    max-width: 550px;           /* Limit the width for text wrapping */
    margin-right: 40px;         /* Increase spacing between text and buttons */
    word-break: break-word;     /* Ensure long words or links break to new line */
}

.introduction-text p {
    font-size: 1.2em;
    color: #f7f7f7;
    margin-bottom: 15px;
    text-align: center;
}


.introduction-text ul {
    padding-left: 20px;
    color: f7f7f7;
    text-align: left;
    font-size: 1em;
}

.introduction-text ul li {
    margin-top: 25px;
}

/* Style for <strong> tags */
.introduction-text strong {
    color: transparent; /* This is needed to show the gradient */
    background: linear-gradient(to right, rgb(197, 2, 197), red);
    -webkit-background-clip: text; /* For webkit-based browsers */
    background-clip: text;
}

.introduction-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 200px;           /* Limit the width to keep buttons contained */
}

/* Button styling */
.button {
    padding: 12px 24px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #8a8a8a;
    color: transparent; /* This is needed to show the gradient */
    background: linear-gradient(to right, rgb(197, 2, 197), red);
    -webkit-background-clip: text; /* For webkit-based browsers */
    background-clip: text;
}

.button:hover {
    border: 1px solid white;
}

.signup {
    color: white;
    background-color: black;
    border: 1px solid #8a8a8a;
}

.signup:hover {
    border: 1px solid white;
}

.login {
    color:white;
    background-color: black;
    border: 1px solid #8a8a8a;
}

.login:hover {
    border: 1px solid white;
}
