/* Apply border-box sizing globally */
*, *::before, *::after {
    box-sizing: border-box;
}
::selection { color: black; background-color: white; }
::-moz-selection { color: black; background-color: white; }
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: black;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 50px;
}

html, body {
    margin: 0 auto;
    padding: 0;
    font-family: "Geist", sans-serif;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #000000;
    transition: background-color 0.3s ease;
    z-index: 1000;
    border-bottom: 1px solid #808080;
}



.header h1 {
    margin: 0;
    font-size: 1.5em;
    cursor: default;
    color: transparent; /* This is needed to show the gradient */
    background: linear-gradient(to right, rgb(197, 2, 197), red);
    -webkit-background-clip: text; /* For webkit-based browsers */
    background-clip: text;
}

.header nav ul {
    list-style: none;
    padding-right: 30px;
    margin: 0;
    display: flex;
    gap: 50px;
}

.header nav ul li {
    display: inline;
}

/* Apply styles to both a tags and button elements in the nav */
.header nav ul li a,
.header nav ul li button {
    color: #f7f7f7;
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s ease;
    outline: none;
    font-weight: bold;
}

/* Hover effect for both a tags and button elements */
.header nav ul li a:hover,
.header nav ul li button:hover {
    transform: scale(1.2);
    text-decoration: none;
}
